*{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    gap: 50px;
}
header nav ul{
    display: flex;
    position: relative;
    top: 15px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-section h1{
    font-weight: 750;
    font-size: 55px;
    text-align: left;
}
.left-section h1 span{
    color: #8080DD;
}
button{
    padding: 10px 17px;
    color: white;
    background-color: rgb(93, 93, 254);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}
.services{
    width: 210px;
}
a:hover{
    text-decoration: underline;
    font-size: 19px;
}
button:hover{
    color: blue;
    background-color: #BDCAFF;
}